/* styles/CoursesPage.css */

.courses-page {
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .courses-page h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .courses-page h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .courses-page div {
    margin-bottom: 2rem;
  }
  
  .courses-page input[type='checkbox'] {
    margin-right: 1rem;
  }
  
  .courses-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .courses-page li {
    margin-bottom: 0.5rem;
  }
  
  .courses-page li:last-child {
    margin-bottom: 0;
  }
  