.dashboard-page,
.admin-dashboard {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #EFC814; /* Use a border color from the palette */
  border-radius: 5px;
  text-align: center;
  background-color: #FFFBEA; /* Background color from the palette */
}

h1 {
  margin-bottom: 20px;
  color: #F4D95B; /* Primary color for headings */
}

form {
  margin-bottom: 30px;
}

input,
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #EFC814; /* Border color from the palette */
  border-radius: 5px;
  background-color: #FCF3C6; /* Input background color from the palette */
}

input:focus,
select:focus {
  border-color: #FAEAA3; /* Focus border color from the palette */
  outline: none;
  box-shadow: 0 0 5px rgba(250, 234, 163, 0.5); /* Focus shadow effect */
}

button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button.primary {
  background-color: #F4D95B; /* Button primary color from the palette */
}

button.primary:hover {
  background-color: #EFC814; /* Hover effect for primary button */
}

button.secondary {
  background-color: #FAEAA3; /* Button secondary color from the palette */
}

button.secondary:hover {
  background-color: #F4D95B; /* Hover effect for secondary button */
}

button.danger {
  background-color: #EFC814; /* Danger button color from the palette */
}

button.danger:hover {
  background-color: #F2D138; /* Hover effect for danger button */
}

button.light {
  background-color: #F8F9FA; /* Light button color from the palette */
  color: #000;
}

button.light:hover {
  background-color: #FCF3C6; /* Hover effect for light button */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-bottom: 10px;
}
